<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Story</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<style>
    input[type="file"] {
        display: block;
        margin-bottom: 10px;
    }
</style>

<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('edit_account') }}">Account</a></li>
            <li><a href="{{ url_for('search_template') }}">Search a story</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <div>
                <h2>Story Details:</h2>
                <div>
                    <div>
                        <img src="{{ url_for('static', filename='uploads/' ~ story_data.filename) }}"  alt="Story Photo">
                        <h5 >{{ story_data.title }}</h5>
                        <p>{{ story_data.story }}</p>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>